.yonatube-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
}

.yonatube-header {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 20px;
    height: 56px;
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
}

.yonatube-header h1 {
    font-size: 20px;
    color: #FF0000;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-input {
    width: 500px;
    height: 32px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 2px 0 0 2px;
    font-size: 16px;
}

.search-form button {
    height: 34px;
    padding: 0 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000000;
    transition: .1s;
    cursor: pointer;
}

.search-form button:hover {
    box-shadow: 6px 6px #232323;
    transition: .1s;
}

.yonatube-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 0;
}

.videos {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 30%;
}

.card {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    gap: 12px;

    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
}


.card-info {
    padding: 10px;
    flex-grow: 1;
}

.card p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    max-height: 2.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.video-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 60%;
}

.youtube-video {
    min-width: 630px;
}

.empty-video {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #252525;
    height: 480px;
    margin: 0;
    width: 100%;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

.video-container iframe {
    width: 100%;
    height: 480px;
    border: none;
}

.video-container h2 {
    width: 100%;
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}

.pointer:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}